<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
  <security>
        <requestFiltering allowDoubleEscaping="true" />
    </security>
    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".mrt" mimeType="application/json" />
        <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <rewrite>
        <rules>
            <rule name="Rewrite to default" enabled="true" stopProcessing="true">
                <match url="^[^.]+$" />
                <action type="Rewrite" url="/" />
                <conditions>
                    <add input="{URL}" negate="true" pattern="server/api/courses" />
                </conditions>
            </rule>
        </rules>
    </rewrite>
        <caching>
            <profiles>
                <add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:00:30" />
                <add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
  </system.webServer>
</configuration>