<?xml version="1.0" encoding="utf-8" ?>
<appconfiguration>
  <schedulers>
    <add name="SCHEDULER_NAME" fetchUri=""></add>
  </schedulers>
  <endpoints>
    <add name="NAME" type="REST" uri="">
      <authorization type="Basic" userName="user" password="pwd"></authorization>
    </add>
  </endpoints>
  <settings
    baseUri="http://api.tinyerp.com"
    clientUri="http://tinyerp.com"
    defaultLanguageIsoCode="en"
    >
  </settings>
  <appSettings>
    <add name="AppSetting.Folder.Export" value="{{Configuration!!Folder.BaseResourceFolder}}\export"/>
    <add name="Data.Migration.Autorun" value="true"></add>
  </appSettings>
  <securitySettings>
  </securitySettings>
  <authentication allowOrigins="*" basePath="http://api.tinyerp.com/" path="/auth/token" tokenExpiredAfterInMinute="20" authType="OwinTokenBase" ></authentication>
  <paging pageSize="10"></paging>
  <repository defaultRepoType="MSSQL" defaultConnectionStringName="DefaultConnection"></repository>
  <search defaultUrl="http://localhost:9200"></search>
  <modules>
    <add name="App.Security" integrationType="InApp"></add>
  </modules>
  <aggregates>
    <add name="TinyERP.HRM.Context.IHRMQueryContext" repoType="MongoDb" connectionStringName="DefaultMongoDb"></add>
  </aggregates>
  <commandHandlerSettings>
    <!-- InApp, External-->
    <add aggregate="Name" type="InApp"></add>
  </commandHandlerSettings>
  <!-- InApp, External-->
  <eventHandlers>
    <add eventName="Name" type="External"></add>
    <add eventName="name" type="External"></add>
  </eventHandlers>
  <messageBus baseUri="http://messagebus.tinyerp.com:80"></messageBus>
  <databases>
    <clear />
    <add
      name="DefaultMongoDb"
      database="TinyERP"
      server="localhost"
      port="27017"
      userName=""
      password=""
      ssl="false"
      dbType="MongoDb"
      default="true"
    ></add>
  </databases>
  <localization defaultLanguageCode="en"></localization>
  <mail providerType="Mailgun" server="smtp.gmail.com" port="587" ssl="true" username="" password="" displayName="No-reply" defaultSender="tinyerp123456@gmail.com" />
  <mailgun apiKey="AppSetting!!MAIL_GUN_APIKEY" baseUri="AppSetting!!MAIL_GUN_URI"></mailgun>
  <folder mailTemplate="templates/email/" rootFolder="" baseResourceFolder="{{Configuration!!Folder.RootFolder}}\Resources\"></folder>
  <integration-test baseUrl="http://api.tinyerp.com/api" outputFolder="" extension=".txt"></integration-test>
  <uitest reportTemplate="templates/report.xlsx" notificationReceiver="thanhtuit27@gmail.com" zipFile="report_{0}.zip" environtmenFile="environments.xml" basePath="C:\data\projects\myERP\api\App.UI.Test\config\" baseOutput="" timeout="10"></uitest>
</appconfiguration>
