dist/**/*.*
src/**/*.d.ts
src/**/*.js.map
src/**/*.js
dist
npm-debug.log.*
!src/resources/**/*.*
!src/themes/default/vendors/**/*.*
!src/themes/default/images/**/*.*
!src/themes/default/css/**/*.*
!src/themes/default/js/**/*.*
!src/extension.d.ts
node_modules
api/packages
api/**/bin
api/**/obj