
/*global variables */

$default-color:#333;
$margin:10px;
$margin-lg:20px;
$margin-sm:5px;

$radius-sm:5px;

$padding:10px;
$padding-lg:20px;
$padding-sm:5px;
$var-no-value:"none";
/*color */
$color-white:#fff;

/*icon*/
$default-icon-color:#333;
$var-icon-2x:".fa-2x";
$icon-default-size:"icon-1x";

$var-icon-3x-top:0px;
$var-icon-top:4px;
$var-icon-2x-top:8px;
$var-icon-max-width:32px;
$var-icon-max-height:32px;

$var-icon-list:".fa-list";
$var-icon-bell:".fa-bell-o";
$var-icon-file:".fa-file-video-o";
$var-icon-full-access:".fa-universal-access";
$var-icon-expand:".fa-minus-square-o";
$var-icon-collapse:".fa-plus-square-o";
$var-icon-television:".fa-television";
$var-icon-mobile:".fa-mobile-phone";
$var-icon-certification:".fa-certificate";
$var-icon-home:".fa-home";
$var-icon-book:".fa-book";
$var-icon-play:".fa-play-circle";
$var-icon-pause:".fa-pause-circle";
$var-icon-logout:".fa-sign-out";
$var-icon-add:".fa-plus-circle";
$var-icon-back:".fa-arrow-left";
$var-icon-save:".fa-save";
$var-icon-cancel:".fa-times-circle";
$var-icon-copy:".fa-copy";
$var-icon-check:".fa-check-square";
$var-icon-uncheck:".fa-square";
$var-icon-approve:".fa-check";
$var-icon-approved:".fa-check-circle";
$var-icon-help:".fa-question-circle";

$var-icon-delete:".fa-trash";
$var-icon-edit:".fa-edit";
