<div id="{{id}}" class="form-group">
        <label 
            class="col-xs-12"
            [ngClass]="{
                'control-label col-md-4 col-sm-4':direction==ENUMS.LayoutDirection.Horizontal, 
                'col-md-12 col-sm-12':direction==ENUMS.LayoutDirection.Vertical
            }"
            for="first-name">
                {{labelText}}
        </label>
        <div 
            class="col-xs-12"
            [ngClass]="{'col-md-8 col-sm-8':direction==ENUMS.LayoutDirection.Horizontal, 'col-md-12 col-sm-12':direction==ENUMS.LayoutDirection.Vertical}"
        >
            <p *ngIf="readOnly===true">{{model}}</p>
            <textarea 
                *ngIf="readOnly===false" 
                rows="3" 
                type="text"
                [(ngModel)]=model class="form-control col-md-7 col-xs-12"></textarea>
        </div>
    </div>